{% extends 'base.html.twig' %}

{% block title %}Accès refusé{% endblock %}

{% block body %}
    <div class="container">
        <h1>Vous tentez de faire quoi ?</h1>
        <div class="alert alert-danger">
            <p>Vous n'avez pas le droit d'accèder à cette ressource !</p>
        </div>
        <a href="{{ path('homepage') }}" class="btn btn-primary">Retour à l'accueil</a>
    </div>
{% endblock %}
